:root {
	--accent: #faf;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  1. LAYOUT - - */


* { box-sizing: border-box; }

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: helvetica, arial, sans-serif;

	height: 200vh;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 2. UTILS - - */


.textAlignCenter { text-align: center; }

.aligncenter {
    display: block;
	margin-right: auto;
    margin-left: auto;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -  3. TYPOGRAPHY - - */


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	margin-block-end: 2em;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  4. BUTTON - - */


.buttons {
	padding: 2em 1em;
}

.button {
	display: inline-block;
	border: solid 0.2em #000;
	border-radius: 2em;
	background: var(--accent);
	padding: 0.25em 1em;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-weight: 800;
	font-size: inherit;
    transition: all .2s ease-in-out;

		&:hover {
			cursor: pointer;
		}
		&:hover {
			background: #000;
			color: #fff;
			border-color: #000;
		}
		&:focus,
		&:focus-visible {
			z-index: 1;
			outline: 0;
			box-shadow: 0 0 0 0.25em var(--accent);
		}
}



/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 5. NAV - - */

.menu {
	margin-block-end: 2em;
	padding: 2em 1em;

	a {
		color: #333;
	}
}

.demoList {
	text-align: center;

	ul {
		display: flex;
		flex-flow: column;
		padding-left: 0;
		list-style: none;

		li {
			display: block;
			transition: all .2s ease-in-out;
			border: solid 1px #555;
			border-radius: 0.5em;
			box-shadow: 0 0.1rem 0.25rem 0 #555;
			font-weight: 800;

			&:hover {
				background: var(--accent);
				border-color: #000;
			}

			a {
				display: inline-block;
				padding: 0.5em 1em;
				text-decoration: none;
				color: #000;
			}
		}
	}
}